.container-suvs {
  display: flex;
  background-color: var(--DarkCyan);

  section.suvs {
    padding: 2rem;

    .middle {
      margin: 2rem 0 0 0;

      .title {
        h1 {
          font-size: 2em;
          text-transform: uppercase;
          color: var(--VeryLightGrayBackgroundHeadingsButtons);
          letter-spacing: 0.02rem;
        }
      }

      .desc {
        margin: 1.5rem 0 0 0;
        line-height: 1.4rem;

        p {
          font-size: 0.9em;
          font-family: "Lexend Deca", sans-serif;
          color: var(--TransparentWhiteParagraph);
        }
      }
    }

    .bottom {
      margin: 2.8rem 0 1.2rem 0;

      a {
        font-family: "Lexend Deca", sans-serif;
        font-weight: 700;
        padding: 0.8rem 1.6rem;
        color: var(--DarkCyan);
        background-color: var(--VeryLightGrayBackgroundHeadingsButtons);
        border: none;
        border-radius: 2rem;
        letter-spacing: 0.04rem;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          border: 2px solid var(--VeryLightGrayBackgroundHeadingsButtons);
          color: var(--VeryLightGrayBackgroundHeadingsButtons);
          background-color: transparent;
        }
      }
    }
  }
}
